#booking form label{
    font-size: 16px;
}

#booking form .btn-primary{


    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: #F28102;
    color: #fff;
}
#booking form .btn-primary:hover{


    box-shadow: none;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: #1D273E;

    color: #fff;
}